<div class="container">

    <div class="row">
        <div class="col-md-6">
            <ol class="list-group">
                <li class="list-group-item" *ngFor="let todo of todos">

                    {{todo.name}} : {{todo.content}}
                    <!-- <i class="fas fa-trash-alt"  (click)="deleteTodo(todo)"></i> -->
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteTodo(todo)"></i>


                </li>


            </ol>
        </div>
        <div class="col-md-6">
            name: <input type="text" class="form-control" [(ngModel)]="todo.name">
            content: <input type="text" class="form-control" [(ngModel)]="todo.content">
            <button class="btn btn-primary" (click)="addTodo()"
                [disabled]="! todo.name.trim().length || ! todo.content.trim().length">Add
                Todo </button>
        </div>
    </div>



</div>

visit card simulator :
<input [(ngModel)]="tentative" type="text" class="form-control">
<button 
(click)="jouer()"
[disabled]= "!tentative.trim().length"class="btn btn success">
    Accéder à Card Simulator
</button>